body {
    background-color: #ffffff;
    font-family: 'Assistant', sans-serif;
    color: #071c4d;
}

//navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071c4d;

            &.active { //jika pada nav-link memiliki class active, maka ubah seperti berikut pd nav-link yg aktif
                font-weight: bold;
                color: #071c4d !important;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -10px !important; //!important berarti penting. harus dikerjakan
    margin-bottom: -8px !important;
    margin-right: -18px !important;

    height: 70px;
    border-radius: 0px; //pojokan tidak ada radius. shg jadi kotak
}

.btn-login {
    background-color: #071c4d; //mewarnai background
    color: #fff; //mewarnai font

    //ketika hover
    &:hover {
        background-color: #1e3771;
        color: #fff;
    }
}

//header
header {
    padding: 180px 0 165px; //top, right, bottom. left mengikuti right
    margin-top: -70px; //supaya background ada dibelakang/sejajar navbar. scr default dibawah navbar
    background-image: url(../images/header.jpg);
    background-size: cover; //cover. jika ukuran layar lebar maka akan full gambar, jika layar ukuran kecil, gambar akan ditampilkan sebagian (lebarnya yg berubah, tinggi tetap). tinggi sesuai ukuran yg ditentukan, lebar mengikuti tampilan layar

    h1, p { //langsung dikasih 2 tag yaitu h1 dan p. ini supaya dalam satu script bisa dipakai untuk dua tag
        color: #fff;
    }

    h1 {
        font-family: Playfair Display, serif;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 22px;
    }

    .btn-get-started {
        background-color: #ff9e53;
        color: #ffffff;

        &:hover {
            background-color: #ffaa69;
            color: #ffffff;
        }
    }
}

//statistic
.section-stats {
    margin-top: -50px;

    .stats-detail {
        padding-top: 15px;
        background-color: #ffffff;
        padding-left: 40px;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 0;
    }

    p {
        font-size: 20px;
        font-weight: lighter;
    }
}

.section-popular {
    min-height: 540px; //minimum tinggi
    background-color: #051334;
    margin-top: -50px;
    margin-bottom: -230px;

    .section-popular-heading {
        margin-top: 150px;

        h2, p {
            color: #ffffff;
        }

        h2 {
            font-family: Playfair Display, serif;
            font-weight: bold;
            font-size: 40px;
        }

        p {
            font-size: 18px;
        }
    }
}

.section-popular-content {
    overflow-x: auto; //tambah

    .card-travel {
        min-height: 380px;
        background-color: #dddddd;
        color: #ffffff;
        padding: 30px;
        background-size: cover;
        margin-bottom: 20px;
        transition: all 0.2s ease-in-out !important; //tambah

        &:hover{ //tambah
            transform: translateY(-5px);
            box-shadow: none;
        }
    }

    .travel-country {
        font-size: 18px;
        color: #ffffff;
    }

    .travel-location {
        font-size: 26px;
        color: #ffffff;
    }

    .travel-button {
        .btn-travel-details {
            background-color: #ff9e53;
            color: #ffffff;

            &:hover {
                background-color: #ffae6f;
                color: #ffffff;
            }
        }
    }
}

.section-networks {
    background-color: #ffffff;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;

    h2 {
        font-family: Playfair Display, serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

    img {
        max-width: 100%;
    }
}

.section-testimonial-heading {
    background: linear-gradient(#ffffff 0%, #f7f9ff 100%);
    padding-top: 50px;
    min-height: 506px;

    h2 {
        font-family: Playfair Display, serif;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
        color: #071c4d;
    }
}

.section-testimonial-content {
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;
    }

    .testimonial-content {
        min-height: 380px;
    }

    h3 {
        font-size: 22px;
    }

    .testimonial {
        font-weight: 200;
        font-size: 26px;
        color: #6e6e6e;
        min-height: 160px;
    }

    .trip-to {
      font-weight: normal;
      font-size: 22px;
      color: #6e6e6e;  
    }

    hr {
        margin-left: -20px;
        margin-right: -20px;
    }

    .btn-get-started {
        background-color: #ff9e53;
        color: #ffffff;

        &:hover {
            background-color: #ffaa69;
            color: #ffffff;
        }
    }

    .btn-need-help {
        background-color: #f2f2f2;
        color: #c3c3c3;

        &:hover {
            background-color: #fafafa;
            color: #c3c3c3;
        }
    }
}

.section-footer {
    a {
        color: #071c4d;
    }
}

.section-details-header {
    min-height: 310px;
    background: #e4e6eb;
    margin-top: -70px;
}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh; // vh: viewport height (tinggi browser). 100vh berarti 100% dari tinggi browser
    
    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
    }

    .breadcrumb-item {
        &.active {
            font-weight: bold;
            color: #071c4d;
        }
    }

    .card-details {
        padding: 50px;
        border-radius: 11px;

        h1 {
            font-size: 26px;
        }

        h2 {
            font-size: 20px;
        }

        p {
            font-size: 18px;
            color: #b1b1b1;
        }
    }

    h3 {
        font-weight: 300;
        font-size: 14px;
        color: #071c4d;
    }

    .text-blue {
        color: #071c4d;
        font-weight: bold;
    }

    .text-orange {
        color: #ff9e53;
        font-weight: bold;
    }

    .trip-information {
        th {
            font-weight: 300;
            font-size: 18px;
            color: #071c4d;
        }

        td {
            font-weight: 300;
            font-size: 18px;
            color: #b1b1b1;
        }
    }

    #payment-instructions {
        font-weight: 300;
        font-size: 14px;
        color: #b1b1b1;
    }

    .bank {
        .bank-item {
            h3 {
                font-size: 18px;
                color: #071c4d;
                margin-bottom: 0;
            }

            p {
                margin-bottom: 0;
            }

            .description {
                margin-left: 10px;
                overflow: hidden;
                float: left;

                p {
                    font-weight: normal;
                    font-size: 16px;
                    color: #071c4d;
                }
            }
        }

        .bank-image {
            width: 45px;
            height: 45px;
            float: left;
        }
    }



    #disclaimer {
        font-weight: 300;
        font-size: 14px;
        color: #b1b1b1;
    }

    //class from library gijgo
    .gj-datepicker {
        .datepicker {
            border-right: 0;
        }

        .input-group-append {
            .btn {
                padding-right: 30px;
                padding-bottom: 5px;
            }
        }
    }

    .btn-add-now {
        background-color: #071c4d;
        color: #ffffff;

        &:hover {
            background-color: #1b3b86;
            color: #ffffff;
        }
    }

    .card-right {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom: 0; //garis border bawah
        padding: 30px;
    }

    .features {
        margin-top: 20px;

        h3 {
            font-size: 18px;
            color: #071c4d;
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0;
        }

        .descripton {
            margin-left: 10px;
            overflow: hidden;
            float: left;
        }

        .features-image {
            width: 45px;
            height: 45px;
            float: left;
        }
    }
}

.gallery {
    .xzoom-container {
        display: block; //biar full
        margin-bottom: 10px;

        .zxoom {
            width: 100%;
            box-shadow: none;
            margin-bottom: 10px;
        }

        .xactive {
            border: 4px solid #1abc9c;
            box-shadow: none;
        }
    }

    .gambar-kecil {
        padding-right: 100px;
    }
}

.members {
    .members-image {
        width: 40px;
        height: 40px;
    }
}

.join-container {
    margin-top: -16px;
}

.btn-join-now {
    background-color: #ff9e53;
    color: #ffffff;
    border-radius: 0;

    &:hover {
        background-color: #ffb57c;
        color: #ffffff;
    }
}

.section-success {
    height: 90vh;

    h1 {
        font-weight: 600;
        font-size: 26px;
        color: #071c4d;
    }

    p {
        font-weight: 300;
        font-size: 18px;
        color: #b1b1b1;
    }

    .btn-home-page {
        border-radius: 4px;
        background-color: #071c4d;
        color: #ffffff;

        &:hover {
            background-color: #2a488e;
            color: #ffffff;
        }
    }
}

.login-container {
    // hanya utk layar besar saja, yaitu min 992px
    @media (min-width: 992px){
        // 90deg -> lurus. sebelah kiri warna putih #ffffff. 60% dan 40% adalah ukuran gradiennya
        background: linear-gradient(90deg, #ffffff 60%, #e4e6eb 40%);
        width: 100%;
        height: 100vh;

    }
}

.page-login {
    height: 100vh;

    .btn-login {
        background-color: #ff9e53;
        color: #ffffff;

        &:hover {
            color: #ffffff;
        }
    }

    .section-left {
        h1 {
            font-family: Playfair Display;
            font-weight: bold;
            font-size: 40px;
            text-align: left;
            color: #071c4d;
        }
    }

    .section-right {
        a {
            font-family: Assistant;
            font-weight: 300;
            text-decoration: underline;
            font-size: 16px;
            text-align: center;
            color: #bfbfbf;
        }
    }
}